* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}


body {
    background: #080808;
    color: #fff;
    
}
@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/phone-background.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fas {  
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #b54768;
        position: fixed;
        top: 0;
        width: 200;
        right: 0;
        height: 100vh;
        padding-top: 50px;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

}

/* ----------CSS FOR SMALL SCREEN---------- */
@media only screen and (max-width: 600px) {

    /* Adjust the header image and text size for small screens */
    #header {
        background-image: url(./Components/Navbar/jayumain.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    /* Show the navigation menu on small screens */
    nav ul {
        display: none;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #b54768;
        position: fixed;
        top: 0;
        width: 200px;
        /* Increased the width to accommodate the menu items */
        right: 0;
        height: 100vh;
        padding-top: 50px;
        transform: translateX(200px);
        /* Off-canvas menu, initially hidden */
        transition: transform 0.3s ease-in-out;
    }

    nav ul.show {
        transform: translateX(0);
        /* Show the menu when 'show' class is applied */
    }

    nav ul li {
        display: block;
        margin: 25px;
    }
}